
.cursor {
    background-color: yellow;
}

.correct {
    color: grey;
}

#typing {
    margin: 0 auto;
    width: 300px;
}

#stats {
    margin: 0 auto;
    width: 300px;
}

.hidden {
    display: none;
}

#start-game {
    margin: 0 auto;
}