body {
    background-image: url(../assets/pattern2.png);
}

.wrapper {
    margin: 0 auto;
    text-align: center;

    .title {
        font-family: 'Bodoni Moda', serif;
        font-size: 50px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
    }

    .cursor {
        background-color: #c0ffc8;
        padding:0.1em 0.2em;
        
    }

    .correct {
        color: grey;
    }
    
    .container {
        background-image: url(../assets/flower2.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 500px;
        height: 500px;
       
        #typing {
            font-family: 'Playfair Display', serif;
            font-size: 40px;
            color: black;
        }
    }


    #stats {
        opacity:0;
        -webkit-transition: opacity 2s;
        -moz-transition: opacity 2s;
        -o-transition: opacity 2s;
        transition: opacity 2s;
        font-size: 40px;
    }
}